<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filters</title>
    <script src="/angular.min.js"></script>
  </head>
  <body>
    <h2>Angular filter app</h2>
    <div ng-app="mainApp" ng-controller="studentCtrl">
      <table border="0">
        <tr>
          <td>Enter first name:</td>
          <td><input type="text" ng-model="student.firstName" /></td>
        </tr>
        <tr>
          <td>Enter last name:</td>
          <td><input type="text" ng-model="student.lastName" /></td>
        </tr>
        <tr>
          <td>Enter fees:</td>
          <td><input type="text" ng-model="student.fees" /></td>
        </tr>
        <tr>
          <td>Enter subject:</td>
          <td><input type="text" ng-model="subjectName" /></td>
        </tr>
      </table>

      <br />

      <table border="0">
        <tr>
          <td>Name in Upper Case:</td>
          <td>{{student.fullName() | uppercase}}</td>
        </tr>
        <tr>
          <td>Name in Lower Case:</td>
          <td>{{student.fullName() | lowercase}}</td>
        </tr>
        <tr>
          <td>fees:</td>
          <td>{{student.fees | currency}}</td>
        </tr>
        <tr>
          <td>Subject:</td>
          <td>
            <ul>
              <li
                ng-repeat="subject in student.subjects | filter: subjectName | orderBY: 'marks'"
              >
                {{subject.name + ', marks:' + subject.marks}}
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>

    <script>
      var mainApp = angular.module("mainApp", []);

      mainApp.controller("studentCtrl", function ($scope) {
        $scope.student = {
          firstName: "Harsh",
          lastName: "Bang",
          fees: 500,

          subjects: [
            { name: "Physics", marks: 58 },
            { name: "Chemistry", marks: 60 },
            { name: "Maths", marks: 73 },
          ],

          fullName: function () {
            var studentObj;
            studentObj = $scope.student;
            return studentObj.firstName + " " + studentObj.lastName;
          },
        };
      });
    </script>
  </body>
</html>
